body 
{
    font-size:11px;
	text-align:left;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}
#fcbkList 
{
	list-style-type:none;
	margin:0px !important;
	overflow:auto;
	padding:0px !important;
	z-index:1;
	background-color:#F5F5F5;
}
#filters {
	padding:4px 0pt 0pt;
	zoom:1;
}
#filters .selections {
	float:left;
	list-style-type:none;
	margin:0px !important;
	padding:0px !important;
}

#filters .selections li.view_on {
	background:#FFFFFF url(images/multi_selector_bg.gif) repeat-x scroll center top;	
}
#filters .selections li {
	float:left;
	padding:4px 7px;
	text-align:center;
	width:100px;
}
#filters .selections li a{
	color:#3B5998;
	text-decoration:none;
}
#fcbkList li {
	border:1px solid #D8DFEA;
	display:block;
	float:left;
	list-style-image:none;
	list-style-type:none;
	margin:2px !important;
	padding:2px !important;
	height:auto !important;
}
#fcbkList .fcbklist_item 
{
	clear:both;
	position:relative;
	overflow:hidden;
	
	font-size:11px;
	text-align:left;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}
#fcbkList .itemover 
{
	background-color:#E0E0E0 !important;
}
#fcbkList .liselected 
{
	border:1px solid #149525 !important;
	background-color:#D7F8AC !important;
}
#fcbkList .itemselected 
{
	background-color:#D7F8AC !important;
	background-image: url(images/checked.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	color:Black;	
}
#fcbkList strong {
	color:#222222;
	font-size:11px;	
	margin-top:2px !important;
	width:65px;
}
.clearer 
{
	clear:both;
	height:1px;
	font-size:1px;
}